@model Aquilia.Models.ProductParts
@{ ViewBag.Title = "Edit";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Edit Existing Product</h2>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Product Parts Details </h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ProductPartID)

    <div class="row">
        <div class="col-md-3">
            <label>Product Name: </label>
            @Html.EditorFor(model => model.ProductPartName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProductPartName, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-3">
            <label>Product Size</label>
            @Html.EditorFor(model => model.ProductPartNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProductPartNumber, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-3">
            <label>Wax Composition</label>
            @Html.EditorFor(model => model.WaxComposition, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.WaxComposition, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-3">
            <label>Copper Composition </label>
            @Html.EditorFor(model => model.CopperComposition, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CopperComposition, "", new { @class = "text-danger" })
        </div>
    </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-12">
                <button type="submit" class="btn btn-success" style="margin-top:20px; float:right;"><i class="far fa-check-square"></i> Submit</button>
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            </div>
        </div>
    </div>
    }
